body {
    color: #F8F8F8;
    background-color: #333333;
    text-align: center;
    overflow-wrap: break-word;
}
a:link {
    color: turquoise;
}
a:visited {
    color: greenyellow;
}
a:hover {
    color: blueviolet;
}