{% extends 'base.html' %}
{% block body %}
<div class="container">
    <form method="POST" action="/login">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="username">Kullanıcı adı:</label><br>
        <input type="text" id="username" name="username" class="form-control"><br>
        <label for="password">Şifre:</label><br>
        <input type="password" id="password" name="password" class="form-control"><br>
        <button id="submit" class="btn btn-outline-dark">Giriş yap</button><br>
    </form>
</div>
{% endblock %}

