<div class="list-group">
{% for post in posts %}
    <div class="list-group-item">
        <div class="row">
            <div class="col">
            <a href="/post/{{ post.id }}">{{ post.title }}</a><br>
            </div>
            <div class="col text-end">
                <div>
                    <small>Yazar: </small><a href="/profile/{{ post.author.id }}">{{ post.author.username }}</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
            <!{{post.content[0:20]}}!>
            </div>
            <div class="col text-end">
                <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                </button>
                <ul class="dropdown-menu">
                <li>
                    <form method="POST" action="/delete_post">
                        <button type="submit" name="delete_post" value="{{ post.id }}" class="dropdown-item">Sil</button>
                    </form>
                </li>
                <li>
                    <a href="/edit/{{ post.id }}" class="dropdown-item">Düzenle</a>
                </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
</div>