{% extends 'base.html' %}
{% block body %}
<div class="container">
    <br><h1><img src="/{{ current_user.profile_pic_path }}" style="width:128px;height:128px;">{{ user.username }}</h1>

     <div class="dropdown; text-end">
  <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown">
    Ayarlar
  </button>
    <ul class="dropdown-menu">
    <li><h5 class="dropdown-header">İsim değiştirme</h5></li>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <li><input type="text" id="new_username" name="new_username" class="dropdown-item; form-control"></li>
        <li><button type="submit" class="dropdown-item; btn btn-outline-dark">İsim Değiştir</button></li>
    </form>
    <form method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <li><h5 class="dropdown-header">Şifre değiştirme</h5></li>
        <li><h5 class="dropdown-header">Şifre</h5></li>
        <li><input type="text" id="password" name="password" class="dropdown-item; form-control" ></input></li>
        <li><h5 class="dropdown-header">Yeni Şifre</h5></li>
        <li><input type="text" id="new_password" name="new_password" class="dropdown-item; form-control" ></input></li>
        <li><button type="submit" class="dropdown-item; btn btn-outline-dark">Şifre Değiştir</button></li>
    </form>
    <li><h5 class="dropdown-header">kullanıcı silme</h5></li>
    <form method="POST" action="/delete_user">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <li><button type="submit" name="delete_user" value="{{ user.id }}" class="dropdown-item; btn btn-outline-dark">Sil</button></li>
    </form>
    <li><h5 class="dropdown-header">profil fotografı değişttirme</h5></li>
    <form hx-post="/profilepicture" hx-encoding="multipart/form-data">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <li><input type="file" name="file" accept="image/png, image/jpeg"/></li>
        <li><button type="submit"></button></li>
    </form>
    </ul>
</div>
    {% include "post_list.html" %}
</div>
{% endblock %}